body {
    background-image: url(../images/imp.jpg);
    background-attachment: fixed;
    background-position: center;
  
}

/*---------------Template Style----------------------------------*/

h1,h2,h3,h4,h5,h6{
    color:blueviolet;
      }
.container{
   background-color: lightgoldenrodyellow;
}
.pat{
    position: relative;
}


/* ---------------button style------------------------------------*/ 

.btn_small{
    height: 24px;
    margin: 5px 11px;
    padding: 0 0.5em;
    } 

    