body {
    background-image: url(images/den.jpg);   
}
h1,h2,h3,h4,h5,h6{
    color: blue;
      }

/* -------------button style--------------*/ 
.btn_small{
    height: 24px;
    margin: 5px 11px;
    padding: 0 0.5em;
    } 

    